{% extends 'mole_classifier/base.html' %} {% block title %} Mole Classifier Home {% endblock %} {% block content %}
<header class="text-center">
    <h1 class="display-4">Mole Classifier</h1>

</header>
<div class="row py-4">
    <div class="col-lg-6 mx-auto">
        <!--div class="col-lg-6 mx-auto">
                    <form method="POST" class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm" action="{% url 'analyze' %}" enctype="multipart/form-data"-->
        <form method="POST" action="{% url 'analyze' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group custom-file">
                    <input id="uploadInput" class="custom-file-input" onchange="readURL(this);" type="file" name="myfile">
                    <label class="custom-file-label" for="uploadInput">Choose image file for analysis ...</label>
                </div>
            </div>
            <!--
            <div class="form-group">
                <label for="your_age">Your Age: </label>
                <input id="your_age" type="text" name="age_approx" class="form-control " value="{{ age_approx }}">
            </div>
            <div class="form-group">
                <label for="Localisation">Localisation: </label>
                <input id="Localisation" type="text" name="anatom_site_general" class="form-control " value="{{ anatom_site_general }}">
            </div>
            -->
            <select class="custom-select my-1 mr-sm-2" name="{{ form.sex.name }}">
                <option selected disabled>Enter your gender</option>
                {% for choice in form.sex.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
            <select class="custom-select my-1 mr-sm-2" name="{{ form.age_approx.name }}">
                <option selected disabled>Enter your age</option>
                {% for choice in form.age_approx.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
            <select class="custom-select my-1 mr-sm-2" name="{{ form.anatom_site_general.name }}">
                <option selected disabled>Enter the location of the examined mole </option>
                {% for choice in form.anatom_site_general.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary m-0 rounded-pill px-4" style="background-color: #2e5cb8;" type="submit">Analyse</button>

        </form>

        <!-- Uploaded image area-->
        <p class="font-italic  text-center"> The image uploaded will be rendered in the area below.</p>

        <div class="image-area mt-4">
            <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
        </div>
    </div>
</div>
<!-- diagram -->
<div id="chartArea" class="col-sm-7" style="margin: auto;" align="center">
    <div id="probabilities" class="chart-container" style="position: relative;">
        <canvas id="myChart"></canvas>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"         crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"         crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"         crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">

</script>
<script>
    /*AKIEC - Actinic Keratosis / Morbus Bowen / Intraepithelial Carcinoma
    BCC - Basal Cell Carcinoma
    BKL - Benign pigmented keratosis / Seborrheic Keratosis / Solar Lentigo
    DF - Dermatofibroma
    MEL - Melanoma
    NV - Nevus
    SCC - Squamous Cell Carcinoma
    VASC - Vascular Lesion (incl. Hemorrhage) */

    var result = JSON.parse("{{result}}");
    var ctx = document.getElementById("myChart");
    var probabilityChart = new Chart(ctx, {
        type: 'bar',
        responsive: true,
        data: {
            labels: ["Actinic Keratosis", "Basal Cell Carcinoma", "Benign pigmented keratosis", "Dermatofibroma", "Melanoma", "Nevus", "Squamous Cell Carcinoma", "Vascular Lesion"],
            datasets: [{
                label: 'Softmax',
                data: result,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: true
            }

        }
    });
</script>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

<script>
    /*  ==========================================
    SHOW UPLOADED IMAGE
* ========================================== */


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    /* IF BUTTON ANALYZED IS CLICKED ...
        $(function () {
            $('#uploadInput').on('change', function () {
                readURL(input);
            });
        });
    */
    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */

    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');

    input.addEventListener('change', showFileName);
    function showFileName(event) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    }



</script> {% endblock %}